<div class="container-fluid" data-controller="infinite-scroll" data-infinite-scroll-has-more-value="<%= @has_more %>">
  <div class="mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <% if params[:genre_id].blank? && params[:author_id].blank? && params[:album_id].blank? %>
          <h1 class="h2">Latest added</h1>
        <% elsif params[:genre_id].present? %>
          <h1 class="h2"><%= @genre&.name || 'Genre' %></h1>
        <% elsif params[:author_id].present? %>
          <h1 class="h2"><%= @author&.name || 'Author' %></h1>
        <% elsif params[:album_id].present? %>
          <h1 class="h2">Album Details</h1>
        <% end %>
      </div>
      <div class="d-none d-md-block">
        <%= link_to get_lucky_path, 
            class: "btn btn-primary",
            style: "border-radius: 25px; font-weight: bold;" do %>
          <i class="bi bi-shuffle me-2"></i>
          Get Lucky!
        <% end %>
      </div>
    </div>
  </div>

  <div class="row g-3" id="albums-grid">
    <%= render 'albums' %>
  </div>
  
  <!-- Infinite scroll trigger -->
  <% if @has_more %>
    <div class="text-center mt-4" id="load-more-trigger" data-infinite-scroll-target="trigger">
      <div class="spinner-border text-primary" role="status" style="display: none;">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  <% end %>
</div>